*{
    box-sizing: border-box;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
ul li {
   list-style-type: none;
}
main section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
nav ul{
    list-style: none;
    padding-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.minimg{
    width: 30px;
    height: 30px;
}
